# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
../.venv/
ENV/
env.bak/
venv.bak/

# Flask
instance/
.flaskenv
.env

# Database
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Logs
*.log
logs/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Migrations (如果需要保留迁移文件，可以删除这行)
../migrations/

# Jupyter
.ipynb_checkpoints/

# pyenv
.python-version